<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue1</title>

    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div title="2112312323">
    시작!!
</div>

<div id="app-1">
    {{message}}
</div>

<div id="app-2">
  <span v-bind:title="message">
    내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
  </span>
</div>

<div id="app-3">
    <p v-if="seen">이제 나를 볼 수 있어요</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">메시지 뒤집기</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<div id="app-66">
    <ol>
        <todo-item></todo-item>
    </ol>
</div>

<div id="app-7">
    <ol>
        <!--
          이제 각 todo-item 에 todo 객체를 제공합니다.
          화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
          또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
         -->
        <todo1-item
                v-for="item in groceryList"
                v-bind:todo1="item"
                v-bind:key="item.id"
        ></todo1-item>
    </ol>
</div>


<div id="app-8">
    <p>{{ foo }}</p>
    <!-- obj.foo는 더이상 변하지 않습니다! -->
    <button v-on:click="foo = 'baz'">Change it</button>
</div>

<div id="app-81">
    <div v-bind:id="dynamicId">
        <span>app-81</span>
    </div>
</div>

<div id="app-82">
    <input type="text" v-bind:disabled="isButtonDisabled" value="app-82">

</div>

<div id="app-83">
    {{ message1 }} </br>
    {{ reverseMessage2 }} </br>

    <div @click="reverseMessage1">확인1</div></br>
</div>

<div id="app-84">
    {{ fullName }} </br>
    {{ lastName }} </br>
</div>

<div id="test-1">
    <div v-if="view">
        111</br>
        <div>222</div>
        <div v-if="Math.random() > 0.5">
            이제 나를 볼 수 있어요
        </div>
        <div v-else>
            이제는 안보입니다
        </div>
    </div>


</div>

<div id="test-2">
<!-- 클릭 이벤트 전파가 중단됩니다 -->
    <a href="https://www.naver.com/" v-on:click.stop="doThis">doThis</a>

    <!-- 제출 이벤트가 페이지를 다시 로드 하지 않습니다 -->
    <form v-on:submit.prevent="onSubmit">onSubmit</form>

    <!-- 수식어는 체이닝 가능합니다 -->
    <a v-on:click.stop.prevent="doThat">doThat</a>

    <!-- 단순히 수식어만 사용할 수 있습니다 -->
    <form v-on:submit.prevent></form>

    <!-- 이벤트 리스너를 추가할 때 캡처모드를 사용합니다 -->
    <!-- 즉, 내부 엘리먼트를 대상으로 하는 이벤트가 해당 엘리먼트에서 처리되기 전에 여기서 처리합니다. -->
    <div v-on:click.capture="doThis">doThis</div>


    <!-- event.target이 엘리먼트 자체인 경우에만 트리거를 처리합니다 -->
    <!-- 자식 엘리먼트에서는 안됩니다 -->
    <div v-on:click.self="doThat">doThat</div>

    <button v-on:click="warn('Form cannot be submitted yet.', $event)">
        Submit
    </button>
</div>


<script src="vue1.js"></script>
</body>
</html>
